/*FONTS*/
/*COLORS*/
/*MIXINS*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

* {
  box-sizing: border-box; }

body {
  font-family: "Raleway", helvetica;
  width: 100%; }

.navbar-inverse {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0); }
  .navbar-inverse .navbar-nav {
    width: 100%;
    text-align: center; }
    .navbar-inverse .navbar-nav > li {
      float: none;
      display: inline-block; }
      .navbar-inverse .navbar-nav > li > a {
        color: #eaeaea; }

nav.sticky {
  background-color: #eaeaea; }
  nav.sticky a {
    color: #33363b; }

.small-line {
  box-sizing: border-box;
  margin-top: 5px;
  width: 20px;
  height: 35px;
  border-top: 3px solid #1ABC9C; }

.medium-line {
  box-sizing: border-box;
  margin-top: 5px;
  width: 40px;
  height: 35px;
  border-top: 3px solid #1ABC9C; }

.welcome-bg {
  background-image: url("../img/background.jpg");
  position: fixed;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-position: center center;
  height: 100vh;
  text-align: center;
  z-index: -2; }

.cover {
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 54, 59, 0.65);
  text-align: center; }

.logo-box {
  position: absolute;
  color: #eaeaea;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center; }

.logo-box h1, .logo-box h2 {
  margin: 10px auto; }

#title {
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s; }

#name {
  font-family: 'Poiret One', helvetica;
  color: #eaeaea;
  font-size: 4em;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
  margin: 0;
  margin: 0 auto;
  z-index: 100;
  display: inline-block;
  padding: 30px;
  border-left: 4px solid #eaeaea;
  border-top: 4px solid #eaeaea;
  border-right: 4px solid #368cbf;
  border-bottom: 4px solid #368cbf; }

#subtitle {
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s; }

.icons {
  -webkit-animation: fadein 8s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 8s;
  /* Firefox < 16 */
  -ms-animation: fadein 8s;
  /* Internet Explorer */
  -o-animation: fadein 8s;
  /* Opera < 12.1 */
  animation: fadein 8s; }
  .icons i {
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 56px;
    height: 56px;
    cursor: pointer;
    border-left: 4px solid #eaeaea;
    border-top: 4px solid #eaeaea;
    border-right: 4px solid #368cbf;
    border-bottom: 4px solid #368cbf; }
    .icons i:hover {
      background: #368cbf;
      color: #eaeaea; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.about-me, .profile {
  height: 100vh;
  font-size: 1.5em; }

.about-me {
  background-color: #368cbf;
  padding: 60px;
  color: #eaeaea; }

.profile {
  background-color: #33363b;
  padding: 60px;
  color: #eaeaea; }

.box {
  color: #eaeaea;
  font-size: 2em;
  margin-bottom: 60px;
  display: inline-block;
  padding: 10px 15px;
  border: 4px solid #eaeaea; }

.skills {
  background-color: #33363b;
  min-height: 100vh;
  font-size: 1.5em;
  padding: 60px;
  color: #eaeaea; }

.f-skills, .b-skills, .o-skills {
  list-style: none; }
  .f-skills li, .b-skills li, .o-skills li {
    margin: 20px 0px 20px 0px; }

.projects {
  background-color: #eaeaea;
  padding: 60px;
  margin: auto; }
  .projects .box {
    color: #33363b;
    font-size: 2em;
    margin-bottom: 60px;
    display: inline-block;
    padding: 10px 15px;
    border: 4px solid #33363b; }

.project {
  background-color: #33363b;
  color: #eaeaea;
  padding: 0px;
  margin: 0px 40px 0px 60px; }
  .project .scr {
    width: 100%; }

.desc {
  padding: 20px;
  height: 350px; }
  .desc .tech h4 {
    display: inline-block;
    box-sizing: border-box;
    padding: 3px 5px;
    margin: 10px 5px;
    border: 2px solid #eaeaea;
    border-radius: 20px; }
  .desc p {
    color: #368cbf;
    font-weight: bold; }

.education {
  color: #eaeaea;
  background-color: #33363b;
  padding: 60px; }
  .education h2, .education h3 {
    margin-top: 0px; }
  .education .date {
    color: #368cbf; }
  .education .row {
    margin-bottom: 30px; }
