*{
  box-sizing: border-box;
}
html
{
  font-size:$font-m;
}
body
{
  font-family: $main-font;
  width:100%;
}

.navbar-inverse
{
  font-size:20px;
  background-color: $nav-color;
  border-color: $nav-color;

  .navbar-nav {
    width: 100%;
    text-align: center;
    >li {
      float: none;
      display: inline-block;
      >a {
        color: $font-color;
      }
    }

  }
}
nav.sticky
{
  background-color: $font-color;
  a{
    color:$dark-color;
  }
}

.burger
{
  position: fixed;
  width: 50px;
  top:20px;
  right: 10px;
  z-index: 300;
  #btn-burger
  {
    border: none;
    background-color: transparent;
  }
}
.burger-menu
{
  width: 100%;
  height:100vh;
  position: fixed;
  z-index:299;
  background-color: $font-color;
  .menu-middle
  {
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
  }
  ul
  {
    list-style: none;
    padding: 0;
    text-align: center;
    li {
      font-size: $font-m;
      margin: 10px auto;
      a{
        color: $dark-color;
        text-decoration: none;
        &:hover
        {
          color:$main-color;
        }
      }
    }
  }
}
