#projects
{
  background-color: $dark-color-cover;
  padding: 60px 0;
}
.project
{
  background-color: $font-color;
  margin-bottom: 30px;
  .scr
  {

    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .preview {
    position: relative;
    .go-cover {
      opacity: 0;
      position: absolute;
      z-index: 4;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      height: 100%;
      background-color: $second-color-cover;

      &:hover
      {
        opacity: 1;
        transition: background-color 1000ms linear;
      }
      &:focus{
        opacity: 1;
      }
      .prev-icons{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        a {
          text-decoration: none;
          i {
            color: $font-color;
            margin: 15px;
            @include zoom(1, 200ms);
            &:hover {
            @include zoom(1.5, 200ms);
            }
            span
            {
              display: block;
              font-size:$font-m;
              font-family: $main-font;
            }
          }
        }
      }
    }
  }
}
.desc {
  .medium-line
  {
    @include line(35px,$second-color)
  }
  height: 200px;
  padding: 15px;
  h2 {
    span {
      color: $second-color;
    }
  }
}
.tech {
  height: 140px;
  text-align: left;
  padding: 0 15px;
  h4 {
    font-size:12px;
    display: inline-block;
    box-sizing: border-box;
    padding: 3px 5px;
    margin: 10px 5px;
    border: 1px solid $dark-color;
    border-radius: 20px;
  }
}
  p
  {
    padding: 15px;
    bottom: 0px;
    margin-top: 15px;
    color: $second-color;
    font-weight: 300;
  }
