#skills
{
  background-color:$font-color;
  padding: 60px 0 ;
}
.f-skills,.b-skills,.o-skills
{
  list-style: none;
  padding: 0;
  li {
    margin: 15px 0px;
  }
}
.medium-line
{
  @include line(35px,$orange-color);

}