.education
{
  color:$font-color;
  background-color: $dark-color;
  padding:60px;
  h2,h3
  {
    margin-top:0px;
  }
  .date
  {
    color: $main-color;
  }
  .row
  {
    margin-bottom: 30px;
  }
}



